# Backend Server PORT
SERVER_PORT=50000

# ArangoDB connection settings
DB_USER=root
DB_PASSWORD=flathunter
DB_HOST=localhost
DB_PORT=8529
DB_DATABASE=flathunter

# If you want to use a proxy, set this to true
ALTERNATING_PROXY=true
